<div class="about-wrapper">
  <article class="about-person">
    <h3 class="about-title">me,</h3>
    <section class="about-biography">
    <img class="about-photo" src="<%= person.bitmap.url %>" width="150" height="150" />
    <%= raw @person.biography %>
    </section>
    <a class="close-btn">&times;</a>
  </article>
</div>
